* {
    margin: 0 auto;
    padding: 0 auto;
}

.nav-bar {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to left, #64e2e6, #91ffad);
    color: rgb(243, 239, 239);
}

.columns {
    background-color: aqua;
}

.columns-wrapper {
    background-color: blue;
    display: flex;
    flex-direction: row;
    height: 924px;
    justify-content: center;
    max-width: 1500px;
}

.column {
    background-color: azure;
    height: 90%;
    width: 30%;
    padding: 10px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column:nth-child(1) {
    border-right: 1px solid black;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.column:nth-child(3) {
    border-left: 1px solid black;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.flex-revers {
    display: flex;
    flex-direction: column-reverse;
}

.p-title {
    font-size: large;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.notes {
    background-color: bisque;
    width: 200px;
    height: 300px;
    margin: 5px;
}

.tasks {
    display: flex;
    list-style-type: disc;
    align-items: center;
    justify-content: center;
}

.addform {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.completed {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}




